* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* main/search page */
.icon-font {
  @apply text-2xl;
}
.social-icons {
  @apply transition-colors duration-300 text-xl hover:text-pink-600;
}

/* list page */
.image-of-pokemon {
  @apply w-full h-full object-cover;
}

.common-b-margin {
  @apply mb-2;
}

.filter-border {
  @apply border border-gray-300 rounded-md px-2 py-1;
}

/* individual page */
.image-div {
  @apply w-full lg:w-1/2;
}

.white-border {
  @apply border p-2 border-white;
}

/* compare page */
.image {
  @apply h-32 w-32 rounded-full  border-2;
}

.list-item {
  @apply text-white bg-pink-400 px-2 py-1 rounded-full;
}

.image-border {
  @apply border-green-400 transition-transform duration-300 hover:translate-x-1 hover:scale-105  cursor-pointer;
}

.page {
  @apply mx-4 md:mx-8;
}
